<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission
        android:name="com.jamesmoran.adventurepad.permission.LAUNCH_TRACKPAD"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.scummvm.scummvm.permission.RELATIVE_INPUT" />

    <queries>
        <package android:name="org.scummvm.scummvm.debug" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdventurePad">
        <activity
            android:name=".LauncherRoutingActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- A distinct affinity makes the trackpad an independently recoverable task. -->
        <activity
            android:name=".TrackpadActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:permission="com.jamesmoran.adventurepad.permission.LAUNCH_TRACKPAD"
            android:resizeableActivity="true"
            android:taskAffinity="${applicationId}.trackpad"
            android:theme="@style/Theme.AdventurePad" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:theme="@style/Theme.AdventurePad"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>
